h1 { border-bottom-style: inset;};
pre { font-size: 3.2em;}
img.normal {float: right; height: 500px; width: 500px;}
img.alta {float: right; height: 500px; width: 500px; }
aDireita {text-align: right;}
span {margin-left: 100px;}
select { width: 150px;}
.detalhes {width: 380px;}
.oculta {display: none;}
.exibe {display: inline;}